.header{
    margin-top: 20px;
    padding-top: 20px;
}

.welcome{
    padding-right: 100px;
    font-size: 22px;
    color: #111;
    padding-top: 20px;
}

.enter_box{
    height: 475px;
    background-color: #feb477;
}

.my_w{
    overflow: hidden;
    margin-top: 10px;
    margin-left: 200px;
    width: 1200px;
    height: 420px;
    background: url(../upload/enter_bg.jpg) no-repeat;
}

.enter_user{
    margin-top: 20px;
    margin-left: 640px;
    width: 350px;
    height: 350px;
    text-align: center;
    background-color: #fff;
}

.alert{
    height: 32px;
    line-height: 32px;
    color: #999;
    font-size: 12px;
    background-color: #fff8f0;
}

.enter_user h2{
    margin-top: 15px;
    margin-bottom: 20px;
    color: #e4393c;
}

.enter_username{
    padding-left: 25px;
    margin-bottom: 20px;
    overflow: hidden;
    clear: both;
    height: 35px;
}

.img_user{
    float: left;
    width: 35px;
    height: 35px;
}

.enter_username i {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(../images/me_enter.png);
}

.enter_user input{
    float: left;
    width: 230px;
    height: 35px;
    margin-left: 10px;
    padding:4px 10px;
    border: 1px solid #ededed;
}

.enter_username span{
    display: inline-block;
    height: 30px;
    width: 30px;
}

.enter_password{
    padding-left: 25px;
    height: 35px;
    overflow: hidden;
    clear: both;
}

.img_pwd{
    float: left;
    width: 35px;
    height: 35px;
}

.enter_password i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/pwd_enter.png);
}

.enter_password span{
    display: inline-block;
    width: 30px;
    height: 30px;
}

.enter_user a h5{
    font-weight: 400;
    margin-top: 20px;
    margin-right: 45px;
    text-align: right;
}

input[type="submit"]{
    padding: 4px 10px;
    margin-top: 30px;
    margin-left: 60px;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    background-color: #e4393c;
}

.wrong{
    background:url(../images/error.png) no-repeat;
}

.right{
    background: url(../images/right.png) no-repeat;
}


